border-radius(val)
  -webkit-border-radius: val
  -moz-border-radius: val
  border-radius: val


.container
  margin-top: 20px

.post
  padding: 10px

.post:hover
  background: #eee
  border-radius: 6px

